<!DOCTYPE html>
<link href="/statics/css/lightbox.min.css" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="/statics/amaze/css/app.css">
<style type="text/css">
    .yy .am-form-group{ margin-bottom:0.5rem;}
    .yy .am-form-group .am-u-sm-2{ font-size:1.3rem;width:16%; padding-right:0;}
    .yy .am-form-group .am-u-sm-10{ font-size:1.3rem; float: left; padding-left:0;}
    .am-table td,.am-table th{font-size:1.1rem;text-align: center;height: 15px}
    .am-selected-btn{width:110px;font-size:1.1rem}
    .fl{ float: left;}
    .yy_control_int{font-size:1.1rem;}
    .yy_control_int_bl{}
</style>
<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">裁剪入库单</strong> /
            <small>CUT ORDER</small>
        </div>
    </div>

    <hr/>

    <div class="am-g">

        <!--<div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">-->

        <!--</div>-->
        <div class="am-u-sm-12">
            <div class="yy">
                <div class="am-form-group">
                    <label class="am-u-sm-2">裁剪所属:</label>
                    <label class="am-u-sm-10">{{$detail.cust_name|default:''}}&nbsp;</label>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2">日期:</label>
                    <label class="am-u-sm-10">{{$detail.plan_date|default:''}}&nbsp;</label>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2">备注:</label>
                    <label class="am-u-sm-10">{{$detail.remark|default:''}}&nbsp;</label>
                </div>
            </div>
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
            <form id="rescore_form" action="{{site_url url='company/re_score'}}" method="post">

            </form>
            <form id="save_form" class="am-form am-form-horizontal" method="post" action="{{site_url url='cutorder/save_cut'}}/">
                <input type="hidden" id="cust_id" name="cust_id" value="{{$detail.cust_id|default:''}}">
                <input type="hidden" name="cut_order_id" id="cut_order_id" value="{{$detail.id|default:''}}">
                <a class="am-btn am-btn-warning" id="add_m" href="javascript:void(0);">
                    <i class="am-icon-shopping-cart"></i>
                    添加公共面料
                </a>
                {{if $detail.cust_id !=-1}}
                <a class="am-btn am-btn-warning" id="add_m2" href="javascript:void(0);">
                    <i class="am-icon-shopping-cart"></i>
                    添加客户面料
                </a>
                {{/if}}
                <div style="width: 99%;height: 530px;overflow-y: auto">
                <table class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr>
                        <th rowspan="2">款式</th>
                        <th rowspan="2">面料</th>
                        <th rowspan="2">颜色</th>
                        <th rowspan="2">缸号</th>
                        <th colspan="8">数量</th>
                        <th rowspan="2">总数</th>
                        <th rowspan="2">单件用料</th>
                        <th rowspan="2">可用米数</th>
                        <th rowspan="2">面料余料</th>
                        <th rowspan="2">备注</th>
                        <th rowspan="2">操作</th>
                    </tr>
                    <tr>
                        <th>XS</th>
                        <th>S</th>
                        <th>M</th>
                        <th>L</th>
                        <th>XL</th>
                        <th>2XL</th>
                        <th>3XL</th>
                        <th>4XL</th>
                    </tr>
                    </thead>
                    <tbody id="edit_tb">
                    <!--
                    <tr>
                        <td>卫衣</td>
                        <td>E1</td>
                        <td>红色</td>
                        <td>F11</td>
                        <td>
                            <input type="text" class="yy_control_int"   style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_XS[]" value="">
                        </td>
                        <td>
                            <input type="text"  class="yy_control_int" style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_S[]" value="">
                        </td>
                        <td>
                            <input type="text" class="yy_control_int"  style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_M[]" value="">
                        </td>
                        <td>
                            <input type="text" class="yy_control_int" style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_L[]" value="">
                        </td>
                        <td>
                            <input type="text" class="yy_control_int" style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_XL[]" value="">
                        </td>
                        <td>
                            <input type="text" class="yy_control_int" style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_2XL[]" value="">
                        </td>
                        <td>
                            <input type="text" class="yy_control_int" style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_3XL[]" value="">
                        </td>
                        <td>
                            <input type="text" class="yy_control_int" style="font-size:0.5rem;width: 40px" maxlength="3"  name="work_4XL[]" value="">
                        </td>
                        <td>
                            <yy_all></yy_all>
                        </td>
                        <td>
                            <yy_one_meters></yy_one_meters>
                        </td>
                        <td>
                            <yy_turn_meters></yy_turn_meters>
                        </td>
                        <td>
                            <yy_leave_meters></yy_leave_meters>
                        </td>
                        <td>
                            <input type="text" style="font-size:0.5rem;width: 80px"  name="remark[]" value="">
                        </td>
                        <td><a class='am-btn am-btn-danger am-btn-xs' href='javascript:void(0);'>删除</a></td>
                    </tr>-->
                    </tbody>
                </table>
                    </div>

            </form>
            <button type="button" id="save_btn" class="am-btn am-btn-success am-round">完成创建</button>
            <button type="button" id="cancel_btn" class="am-btn am-btn-danger am-round">取消创建</button>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="my-prompt2">
    <div class="am-modal-dialog">
        <div class="am-modal-hd" id="modalcut_hd">面料</div>
        <div class="am-modal-bd">
            <div class="am-form-inline" style="float: left;">
                <input type="hidden" id="show_cust" value="">
                <select data-am-selected="{searchBox: 1,btnWidth: '120px'}" placeholder="面料型号" id="material_id2" name="material_id2">
                    <option value="-2">全部型号</option>
                    {{foreach from=$material key=key item=item}}
                    <option value="{{$item.id}}">{{$item.material_name}}</option>
                    {{/foreach}}
                </select>
                <select data-am-selected="{searchBox: 1,btnWidth: '120px'}" placeholder="面料颜色" id="color_id2" name="color_id2">
                    <option value="-2">全部颜色</option>
                    {{foreach from=$color key=key item=item}}
                    <option value="{{$item.id}}">{{$item.color_name}}</option>
                    {{/foreach}}
                </select>
                <input type="text"  class="am-form-field" style="width: 100px" placeholder="请填写缸号" id="ganghao2" name="ganghao2" value="{{$data.ganghao|default:''}}">
                <a class="am-btn am-btn-success" id="search_m_btn2" href="javascript:void(0);">查找</a>
            </div>
            <div style="width: 99%;height: 480px;overflow-y: auto">
    <table class="am-table am-table-bordered am-table-radius am-table-striped">
        <thead>
        <tr>
            <th>面料</th>
            <th>颜色</th>
            <th>缸号</th>
            <th>可用米数</th>
            <th>入库时间</th>
            <th>选择</th>
        </tr>
        </thead>

        <tbody id="list_m_show2">

        </tbody>

    </table>
        </div>
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
            <table class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
            <tr>
                <th rowspan="2">款式</th>
                <th rowspan="2">用料</th>
                <th colspan="8">比例</th>
            </tr>
            <tr>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>2XL</th>
                <th>3XL</th>
                <th>4XL</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <select data-am-selected="{searchBox: 1,btnWidth: '100px'}" placeholder="款式型号" id="style_id2" name="style_id2">
                        <option value="-2">款式</option>
                        {{foreach from=$style key=key item=item}}
                        <option value="{{$item.id}}">{{$item.style_name}}</option>
                        {{/foreach}}
                    </select>
                </td>
                <td>
                    <input type="text" class="yy_control_decimal" style="width: 60px" maxlength="6" id="use_meters4one2" name="use_meters4one22" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int"   style="width: 25px" maxlength="2" id="use_XS2" name="use_XS2" value="">
                </td>
                <td>
                    <input type="text"  class="yy_control_int" style="width: 25px" maxlength="2" id="use_S2" name="use_S2" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int"  style="width: 25px" maxlength="2" id="use_M2" name="use_M2" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int" style="width: 25px" maxlength="2" id="use_L2" name="use_L2" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int" style="width: 25px" maxlength="2" id="use_XL2" name="use_XL2" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int" style="width: 25px" maxlength="2" id="use_2XL2" name="use_2XL2" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int" style="width: 25px" maxlength="2" id="use_3XL2" name="use_3XL2" value="">
                </td>
                <td>
                    <input type="text" class="yy_control_int" style="width: 25px" maxlength="2" id="use_4XL2" name="use_4XL2" value="">
                </td>
            </tr>
            </tbody>

            </table>
        </div>
        <div class="am-modal-footer">
            <table style="width: 100%">
                <tr>
                    <td>
                        <span class="am-btn am-btn-block am-btn-success" id="close_btn">关闭</span>
                    </td>
                    <td>
                        <span class="am-btn am-btn-block am-btn-danger" id="tijiao_btn">添加</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/statics/js/layer/layer.js"></script>
<script>
    $(function() {
        $(".yy_control_int").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        }).blur(function(){
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用

        $(".yy_control_decimal").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
            if(!/^[0-9]+(.[0-9]{0,2})?$/.test($(this).val())) {$(this).val('');}
        }).blur(function(){
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
            if(!/^[0-9]+(.[0-9]{0,2})?$/.test($(this).val())) {$(this).val('');}
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
            if(!/^[0-9]+(.[0-9]{0,2})?$/.test($(this).val())) {$(this).val('');}
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用
        $("#add_m").click(function(){
            $('#show_cust').val('-1');
            $('#material_id2').val('-2');
            $('#material_id2').trigger('changed.selected.amui');
            $('#color_id2').val('-2');
            $('#color_id2').trigger('changed.selected.amui');
            $('#style_id2').val('-2');
            $('#style_id2').trigger('changed.selected.amui');
            $('#ganghao2').val('')
            $('#list_m_show2').html('')
            $("#modalcut_hd").html('公共面料')
            $('#my-prompt2').modal({
                width: 800
            });
            $('#my-prompt2').modal('open');
            $("#my-prompt2").removeAttr("style");
            $("#my-prompt2").attr("style","display: block;");   //ff支持，ie不支持

        });
        $("#add_m2").click(function(){
            var cust_id = $("#cust_id").val();
            $('#show_cust').val(cust_id);
            $('#material_id2').val('-2');
            $('#material_id2').trigger('changed.selected.amui');
            $('#color_id2').val('-2')
            $('#color_id2').trigger('changed.selected.amui');
            $('#style_id2').val('-2');
            $('#style_id2').trigger('changed.selected.amui');
            $('#ganghao2').val('')
            $('#list_m_show2').html('')
            $("#modalcut_hd").html('客户面料')
            $('#my-prompt2').modal({
                width: 800
            });
            $('#my-prompt2').modal('open');
            $("#my-prompt2").removeAttr("style");
            $("#my-prompt2").attr("style","display: block;");   //ff支持，ie不支持
        });
        $("#search_m_btn2").click(function(){
            var material_id = $("#material_id2").val();
            var color_id = $("#color_id2").val();
            var ganghao = $("#ganghao2").val();
            var cust_id = $("#show_cust").val();
            var cut_order_id = $("#cut_order_id").val();
            var result = $.ajax({
                url : '/cutorder/get_m_list',
                data: { cut_order_id:cut_order_id,material_id: material_id,color_id: color_id,ganghao: ganghao,cust_id: cust_id},
                cache : false,
                async : false,
                type : "POST"
            }).responseText;
            $("#list_m_show2").html(result);
        });

        $("#close_btn").click(function(){
            $('#my-prompt2').modal('close');
        })

        function jisuan(obj,self_obj){
            var self_val = parseInt(change_0(self_obj.find("input").eq(0).val()));
            var work_XS = parseInt(change_0(obj.find("input[name='work_XS[]']").eq(0).val()));
            var work_S = parseInt(change_0(obj.find("input[name='work_S[]']").eq(0).val()));
            var work_M = parseInt(change_0(obj.find("input[name='work_M[]']").eq(0).val()));
            var work_L = parseInt(change_0(obj.find("input[name='work_L[]']").eq(0).val()));
            var work_XL = parseInt(change_0(obj.find("input[name='work_XL[]']").eq(0).val()));
            var work_2XL = parseInt(change_0(obj.find("input[name='work_2XL[]']").eq(0).val()));
            var work_3XL = parseInt(change_0(obj.find("input[name='work_3XL[]']").eq(0).val()));
            var work_4XL = parseInt(change_0(obj.find("input[name='work_4XL[]']").eq(0).val()));
            var js_all = parseInt(change_0(obj.find("input[name='js_all[]']").eq(0).val()));
            var one_meters = change_0(obj.find("yy_one_meters").eq(0).html());
            var turn_meters = change_0(obj.find("yy_turn_meters").eq(0).html());
            var work_all = work_XS+work_S+work_M+work_L +work_XL+work_2XL+work_3XL+work_4XL;
            if(js_all < work_all){

                var ls_val = js_all - work_all-self_val;
                if(ls_val < 0){
                    layer.msg('件数异常,尺码件数均清零', {icon: 2});
                    obj.find("input[name='work_XS[]']").eq(0).val('');
                    obj.find("input[name='work_S[]']").eq(0).val('');
                    obj.find("input[name='work_M[]']").eq(0).val('');
                    obj.find("input[name='work_L[]']").eq(0).val('');
                    obj.find("input[name='work_XL[]']").eq(0).val('');
                    obj.find("input[name='work_2XL[]']").eq(0).val('');
                    obj.find("input[name='work_3XL[]']").eq(0).val('');
                    obj.find("input[name='work_4XL[]']").eq(0).val('');
                }else{
                    layer.msg('已超出最大件数!,系统自动改写该尺码最大件数', {icon: 2});
                    self_obj.find("input").eq(0).val(ls_val);
                }

            }
            var leave_meters_ = turn_meters - work_all * one_meters
            obj.find("yy_leave_meters").html(leave_meters_);
            obj.find("yy_all").html(work_all);

        }

        function change_0(int_){
            if($.trim(int_) == ''){return 0;}
            return int_;
        }

        $("#tijiao_btn").click(function(){
            var style_id = $('#style_id2').val();
            var use_meters4one = $.trim($('#use_meters4one2').val());
            var use_XS2 = $.trim($('#use_XS2').val());
            var use_S2 = $.trim($('#use_S2').val());
            var use_M2 = $.trim($('#use_M2').val());
            var use_L2 = $.trim($('#use_L2').val());
            var use_XL2 = $.trim($('#use_XL2').val());
            var use_2XL2 = $.trim($('#use_2XL2').val());
            var use_3XL2 = $.trim($('#use_3XL2').val());
            var use_4XL2 = $.trim($('#use_4XL2').val());
            var cut_order_id = $("#cut_order_id").val();

            if(style_id=='-2'||style_id==""){
                layer.msg('请选择款式!', {icon: 2});return false;
            }
            if(use_meters4one=='0'||use_meters4one==""){
                layer.msg('请填写用料!', {icon: 2});return false;
            }
            if(parseFloat(use_meters4one) > 0){

            }else{
                layer.msg('请填写用料!', {icon: 2});return false;
            }
            if((use_XS2=="" || parseInt(use_XS2)==0)&&
                    (use_S2=="" || parseInt(use_S2)==0)&&
                    (use_M2=="" || parseInt(use_M2)==0)&&
                    (use_L2=="" || parseInt(use_L2)==0)&&
                    (use_XL2=="" || parseInt(use_XL2)==0)&&
                    (use_2XL2=="" || parseInt(use_2XL2)==0)&&
                    (use_3XL2=="" || parseInt(use_3XL2)==0)&&
                    (use_4XL2=="" || parseInt(use_4XL2)==0)){
                layer.msg('请填写比例!', {icon: 2});return false;
            }
            var stock_ids = [];
            $("input[name='ch_check_id[]']:checked").each(function(){
               stock_ids.push($(this).val());
            })
            if(!stock_ids){
                layer.msg('请选择面料!', {icon: 2});return false;
            }
            var cust_id = $("#cust_id").val();
            var data_arr = {
                style_id:style_id,
                use_meters4one: use_meters4one,
                use_XS2:use_XS2,
                use_S2:use_S2,
                use_M2:use_M2,
                use_L2:use_L2,
                use_XL2:use_XL2,
                use_2XL2: use_2XL2,
                use_3XL2: use_3XL2,
                use_4XL2: use_4XL2,
                stock_ids: stock_ids,
                cut_order_id:cut_order_id,
                cut_cust_id:cust_id,
            };
            var result = $.ajax({
                url : '/cutorder/cut_in_mstock',
                data: data_arr,
                cache : false,
                async : false,
                type : "POST"
            }).responseText;
            if(result == -1){
                layer.msg('操作失败!', {icon: 2});return false;
            }else if(result==-2){
                layer.msg('信息不全!', {icon: 2});return false;
            }else{
                $("#edit_tb").append(result);
                $("input[name='ch_check_id[]']:checked").each(function(){
                    $(this).parent().parent().remove();
                })
                //重新绑定数字验证
                $(".yy_control_int_bl").off('keyup').off('blur').off('paste');
                $(".yy_control_int_bl").keyup(function () {
                    $(this).val($(this).val().replace(/[^0-9]/g, ''));
                    jisuan($(this).parent().parent(),$(this));
                }).blur(function(){
                    $(this).val($(this).val().replace(/[^0-9]/g, ''));
                    jisuan($(this).parent().parent(),$(this));
                }).bind("paste", function () {  //CTR+V事件处理
                    $(this).val($(this).val().replace(/[^0-9]/g, ''));
                    jisuan($(this).parent().parent(),$(this));
                }).css("ime-mode", "disabled"); //CSS设置输入法不可用


                $("#edit_tb").find(".am-btn-danger").off('click');
                $("#edit_tb").find(".am-btn-danger").on('click',function(){
                   var cut_order_detail_id = $(this).parent().find('input').eq(0).val();
                    var tr_ = $(this).parent().parent();
                    var l_con_ = layer.confirm("是否确认删除!", {
                        btn: ['同意','不同意'], //按钮
                        area: ['200px', 'auto']
                    }, function(){
                        $.post('/cutorder/delete_show', {cut_order_detail_id:cut_order_detail_id,cut_order_id:cut_order_id}, function(data) {
                            if(data == 1){
                                tr_.remove();
                                layer.close(l_con_);
                            }else{
                                layer.msg('操作失败!', {icon: 2});return false;
                            }
                        });
                    }, function(){
                    });
                })
            }

            /*$.*/

        })
        $("#save_btn").click(function(){
            layer.confirm("是否确认完成创建!,创建后信息将不可修改.", {
                btn: ['同意','不同意'], //按钮
                area: ['300px', 'auto'],
                icon: 1
            }, function(){
                $("#save_form").submit();
            }, function(){
            });
        });
        $("#cancel_btn").click(function(){
            layer.confirm("是否确认取消创建!,取消后创建信息将不会保存.", {
                btn: ['同意','不同意'], //按钮
                area: ['300px', 'auto'],
                icon: 2
            }, function(){
                redirect('/index')
            }, function(){
            });
        });

    })

</script>
